[submodule "ThunderBasics"]
	path = ThunderBasics
url=https://github.com/3sidedcube/ThunderBasics.git
	branch = develop
[submodule "ThunderTable"]
	path = ThunderTable
url=https://github.com/3sidedcube/ThunderTable.git
	branch = develop
[submodule "ThunderRequest"]
	path = ThunderRequest
url=https://github.com/3sidedcube/ThunderRequest.git
	branch = develop
[submodule "ThunderCollection"]
	path = ThunderCollection
url=https://github.com/3sidedcube/ThunderCollection.git
