<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Developer Mode</string>
			<key>Key</key>
			<string>developer_mode_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Build Information</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Date</string>
			<key>Key</key>
			<string>build_date</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Timestamps</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Bundle</string>
			<key>Key</key>
			<string>bundle_timestamp</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Delta Bundle</string>
			<key>Key</key>
			<string>delta_timestamp</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>API Versions</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Update</string>
			<key>Key</key>
			<string>update_api_version</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Stats</string>
			<key>Key</key>
			<string>stats_api_version</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Bugs</string>
			<key>Key</key>
			<string>bugs_api_version</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Push Notifications</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Token</string>
			<key>Key</key>
			<string>TSCPushToken</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Roboto</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>EKBuildNumber</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
